/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  color: black;
  font-family: 'Ultra', serif;
}

.header {
  border: black solid 2px;
  padding: 20px 30px;
  z-index:2;
  position:absolute;
  right:20vw;
  top:40vh;
  background-image: url("https://media.giphy.com/media/G1T5M0qT6ZJlu/giphy.gif");
}

 a {
   text-decoration: none;
   color:black;
 }

 a:hover {
   text-decoration: underline;
 }

 .planet, p {
  padding: 1em;
 }

 .link-button {
   padding: 10px 15px;
   margin: 10px;
   width: 250px;
   text-align: center;
   font-size: 1.5em;
 }

 




