<p></p>
<p></p>
<h2>ALL PLANETS</h2>
<div class="link-button">
  <%= link_to 'CREATE MEW PLANET', new_planet_path  %>
</div>

<div class="link-button">
  <%= link_to 'GET A RANDOM PLANET', '/random' %>
</div>

<% @planets.each do |planet| %>
  <div class="planet"><%= link_to planet.name, planet %></div>
<% end %>



